BEGIN;
--
-- Create model Categoria
--
CREATE TABLE "inventario_categoria" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "descripcion" text NOT NULL, "activo" bool NOT NULL);
--
-- Create model ConfiguracionSistema
--
CREATE TABLE "inventario_configuracionsistema" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre_restaurante" varchar(100) NOT NULL, "moneda" varchar(10) NOT NULL, "iva" decimal NOT NULL, "notificaciones_stock" bool NOT NULL, "email_notificacion" varchar(254) NOT NULL);
--
-- Create model Proveedor
--
CREATE TABLE "inventario_proveedor" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "contacto" varchar(100) NOT NULL, "telefono" varchar(20) NOT NULL, "email" varchar(254) NOT NULL, "direccion" varchar(255) NOT NULL, "activo" bool NOT NULL);
--
-- Create model Usuario
--
CREATE TABLE "inventario_usuario" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "usuario" varchar(50) NOT NULL UNIQUE, "nombres" varchar(128) NOT NULL, "apellidos" varchar(128) NOT NULL, "nombre" varchar(255) NOT NULL, "email" varchar(254) NOT NULL UNIQUE, "rol" varchar(50) NOT NULL, "activo" bool NOT NULL, "fecha_creacion" datetime NOT NULL, "ultimo_acceso" datetime NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL);
CREATE TABLE "inventario_usuario_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "usuario_id" bigint NOT NULL REFERENCES "inventario_usuario" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE "inventario_usuario_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "usuario_id" bigint NOT NULL REFERENCES "inventario_usuario" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model Producto
--
CREATE TABLE "inventario_producto" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "descripcion" text NOT NULL, "stock" integer NOT NULL, "stock_minimo" integer NOT NULL, "precio" decimal NOT NULL, "fecha_registro" datetime NOT NULL, "fecha_actualizacion" datetime NOT NULL, "activo" bool NOT NULL, "categoria_id" bigint NULL REFERENCES "inventario_categoria" ("id") DEFERRABLE INITIALLY DEFERRED, "proveedor_id" bigint NULL REFERENCES "inventario_proveedor" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "inventario_usuario_groups_usuario_id_group_id_57424a96_uniq" ON "inventario_usuario_groups" ("usuario_id", "group_id");
CREATE INDEX "inventario_usuario_groups_usuario_id_ab960dfb" ON "inventario_usuario_groups" ("usuario_id");
CREATE INDEX "inventario_usuario_groups_group_id_15aaa854" ON "inventario_usuario_groups" ("group_id");
CREATE UNIQUE INDEX "inventario_usuario_user_permissions_usuario_id_permission_id_fd7179be_uniq" ON "inventario_usuario_user_permissions" ("usuario_id", "permission_id");
CREATE INDEX "inventario_usuario_user_permissions_usuario_id_8f7821df" ON "inventario_usuario_user_permissions" ("usuario_id");
CREATE INDEX "inventario_usuario_user_permissions_permission_id_a88ddacb" ON "inventario_usuario_user_permissions" ("permission_id");
CREATE INDEX "inventario_producto_categoria_id_7033fb47" ON "inventario_producto" ("categoria_id");
CREATE INDEX "inventario_producto_proveedor_id_2feee190" ON "inventario_producto" ("proveedor_id");
COMMIT;
